<div class="bg-indigo-400 p-10 rounded-lg shadow-lg max-w-lg mx-auto text-white text-center mt-32">
<h1 class="font-black text-6xl text-center">Static#home</h1>
<p class="text-lg leading-tight font-light mt-4">Find me in app/views/static/home.html.erb</p>
</div>